{% extends "layout.html" %}

{% block title %}
CCB Data   
{% endblock %}

{% block main %}

<h2> Hi sir this is under construction </h2>

<h3> </h3>
<h2> </h2>

<table class="table table-borderless table-condensed table-striped table-sm table-hover">
    <thead>
        <tr class="table-success">                        
            <th class="col-1">current(A)</th>            
            <th class="col-1">voltage</th>                        
            <th class="col-2">date</th>
            <th id="th2" class="col-1">Save</th> 
            <th class="col-1"></th>           
        </tr>
    </thead>

    <tbody>        
        <form action="/ccb_data_add/{{id}}" method="post">
            <tr>                                
                <td><input type="text" name="current" style="width: 100%;"></td>
                <td><input type="text" name="voltage" style="width: 100%;"></td>                
                <td><input type="text" name="time" style="width: 100%;" value="{{now}}"> </td>
                <td><button type="submit" class="badge bg-success">&#10003; Save</button></td>
                <td><input type="hidden" name="form_control"></td>
            </tr>        
        </form> 
        
        {% for i in record %}
        <tr class="record">           
            <td class ="Voltage">{{i['voltage']}}</td>
            <td class = "Current">{{i['current']}}</td>                     
            <td class="time">{{i['mydate']}}</td> 
            <td></td>
            <td>{{i['username']}}</td>                                   
        </tr>
        {% endfor %}        
        
        </tbody>
</table>
<div>
    <h2> نمایش نمودار تغییرات</h2>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>

</div>
<script type="text/javascript">
    window.onload = function () {
    var voltages = document.getElementsByClassName("Voltage");
    var Currents = document.getElementsByClassName("Current");
    var times = document.getElementsByClassName("time");
    console.log(voltages)    ;
    let voltage = [];
    let Current = [];    
    for(var i = 0; i < voltages.length; i++) {
    mytime = times[i].innerHTML.toString();    
    let new_time = mytime.split(" ");   
    let dates =  new_time[0].split("-");
    let time = new_time[1].split(":");     
    voltage.push({ label: new Date (Number(dates[0]),Number(dates[1]), Number(dates[2]), Number(time[0]), Number(time[1]),Number(time[2])), y: Number(voltages[i].innerHTML)});    
    Current.push({ label: new Date (Number(dates[0]),Number(dates[1]), Number(dates[2]), Number(time[0]), Number(time[1]),Number(time[2])), y: Number(Currents[i].innerHTML)}); 
}

    var chart = new CanvasJS.Chart("chartContainer",
    {title:{
    text: "Voltage-Current / Time"
    },
    axisY2: [
    {
        title: "Voltage",
        lineColor: "#369EAD",
    }, 
    {
        title: "Current",
        lineColor: "#C24642",
    }
],
    
    data: [
    {
    type: "line",
    axisYType: "secondary",
    axisYIndex: 0,
    dataPoints: voltage},
    {
    type: "line",
    axisYType: "secondary",
    axisYIndex: 1,
    dataPoints: Current
    }
    ]
});

chart.render();
}

</script>
<script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
{% endblock %}
