{% extends "layout.html" %}

{% block title %}
    pipelines
{% endblock %}

{% block main %}
    <table class="table table_striped">
        <thead>
            <tr>
                <th class="col-1">row</th>
                <th class="col-8">pipelines</th>
                <th class="col-2">action</th>
            </tr>
        </thead>

        <tbody>
            <form action="/pipeliness" method="post">
                <tr>
                    <td>***</td>
                    <td><input type="text" name="pipelines" style="width: 100%;"></td>
                    <td><button class="btn btn-primary" type="submit">ADD</button></td>
                </tr>
            </form>

        {% for pipe in pipelines %}
        <tr>
            <td> {{ loop.index }} </td>
            <td> {{ pipelines["pipename"] }} </td>
        </tr>
        {% endfor %}


        </tbody>
    </table>

{% endblock %}
