{% extends "layout.html" %}

{% block title %}
    transes
{% endblock %}


{% block main %}

<h1>{{now}}</h1>
<h2> Hi sir this is under construction </h2>
<p>    
<div>
<form action="/trans_control">   
    <form action="/trans_control" method="post">
    <button id="pic" type="submit" name="btn-add" value="add_trans"><img src="static/cathodic-protection-rectifier.jpg" width="30%" id="pic1"></button>    
</form>
</div>
</p>

{% if trans_list|length != 0 %}    
<table class="table table-borderless table-condensed table-striped table-sm table-hover">
    <thead>
        <tr class="table-success">
            <th id="th1" class="col-1">ID</th>
            <th class="col-2">آخرین ولتاژ ثبت شده</th>
            <th class="col-2"> آخرین جریان ثبت شده</th>  
                     
            <th id="th2" class="col-2">نمایش اطلاعات کامل و افزودن </th>                                   
            <th id="th2" class="col-1"> CCB </th>

        </tr>
    </thead>
    <tbody>        
        {% for i in trans_list %}        
        <tr>
        <td>{{i["id"]}}</td>
        <td>{{i["VOLTAGE"]}} (V)</td>
        <td>{{i["Current"]}} (A)</td>
       
        <form action="/trans_control" method="post">
        <td><button id="bt2" type="submit" name="btn-info" value="{{i['id']}}" class="badge bg-success">&#10003;</button></td>

        <td><button id="bt3" type="submit" name="btn-ccb" value="{{i['id']}}" class="badge bg-success">&#10003;</button></td>
        </form>    
        </tr>                            
        {% endfor %}
        <div>
            
        </div>
{% endif %}

{% endblock %}
